@font-face {
	font-family: "FjallaOne";
	src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoCondensed";
	src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoCondensed";
	src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

.body {
  background-color: #35374a;
  height: 100vh;
  width: 100%;
  margin-top: -21px;
}

.banner {
  background-color: #404258;
  color: #77ccff;
	font-family: 'FjallaOne';
}

.banner-buttons {
  top: 0;
  right: 0;
  position: absolute;
  height: auto;
}

.banner-button {
  padding: 10px 20px;
  border: none;
  font-family: 'FjallaOne';
  font-size: 20px;
  text-decoration: None;
  height: 70px;
  color: #503e3e;
  cursor: pointer;
}

.aichan {
  padding: 15px;
}

.rose-background {
  background-color: #ff8888;
}

.blue-background {
  background-color: #77ccff;
}

.rose-text {
  color: #ff8888;
}

.board-button {
  padding: 10px 20px;
  border: none;
  font-family: 'RobotoCondensed';
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #6B728E;
  color: #DDDDDD;
  background-color: #474e68;
}

.board-container {
  width: auto;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #474E68;
}
